@model WebBanTaiKhoan.Models.SystemSetting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SystemSetting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarqueeText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarqueeText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactZalo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactZalo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapHtml)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapHtml)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
